    .edit{
        color: red;
        font-size: 1em;
        font-weight: bold;
    }

	.editar-info{
	display:none;
	width: 400px;
	height: 100%;
	background-color:#4b4d4f ; 
	color: #fff; 
	text-align: center;
	padding: 0px;
	position:fixed;
    border-radius: 10px;
    margin-top: 23px;
    font-family: Helvetica, sans-serif;


	}

    .btn{
        background-color: #6b6b6b;
        display: block;
        margin: 0 auto;
        width: 400px;
        height: 40px;

        border: 1px solid #474747;
        margin-left: 0px;
        font-size: 1.5em;
        margin-top: 2px;
    }
    .row .col-lg-12 :hover, .editar-info  :focus{
        color: #cecccc;
        cursor: pointer;
        
    }
    .editor-aparencia{
       display: none;
    }
    #font-select{
        color: black;
    }
    .editar-info h3{
        background-color: #333;
    }
    #bgcolor-input, #txtcolor-input, #size-input {
        color: #333;
    }
    .container {
    margin-left: 0;
    padding-left: 0;
}
.questionario{
    padding-left: 100px;
}
